img{
    height: 410px;
    width: 490px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.content{
    padding: 10px;
}
button{
    padding: 10px;
    background-color: #ff2020;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 60px;
}
h2 {
    color: #333;
    font-size: 24px; /* Larger font size for visibility */
    margin-bottom: 10px; /* Space below the heading */
}
/* Paragraph styling for better readability */
p {
    color: #666; /* Lighter text color for contrast */
    line-height: 1.6; /* Improved line spacing */
    margin-bottom: 8px; /* Space between paragraphs */
}
