.container{

    background-size: cover;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container-1{
    height: 540px;
    width: 400px;
    background-color: #ff0000;
    border-radius: 20px;
    margin-left: 50px;
}
.one{
    height: 350px;
    width: 300px;
    position: relative;
    top: 100px;
    left: 100px;
    border-radius: 10px;

}
.two{
    height: 100px;
    width: 150px;
    position:absolute;
    top:390px;
    left: 400px;
    border: 5px solid white;
    //end
   

}
.three{
    height: 110px;
    width: 150px;
    border: 5px solid white;
    position: absolute;
    top: 100px;
    left: 440px;
    //top
   

}
.four{
    height: 120px;
    width: 160px;
    position:absolute;
    top:220px;
    left: 220px;
    border: 5px solid white;
    //left
}
.container p{
    margin-left: 14px;
}
h1{
    font-weight: bold;
    font-size: 35px;
}
h2{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 18px;
    position: relative;
    top: 18px;
   
  
}
.login-container{
    height: 460px;
    width: 380px;
    position: relative;
    left: -30px;
    background-color: rgba(0, 0, 0, 0.621);
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    color: #ff0000;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(210, 203, 203);
}
.login-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;

}
.content{
    
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
i{
    position: relative;
    top: 30px;
    left: 15px;
}
input::placeholder{
    position: relative;
    font-size: 13px;
    
}
input{
    border: none;
    display: block;
    border: 1px solid rgb(190, 186, 186);
    border-radius: 8px;
    padding: 12px;
    width: 84%;
    padding-left: 40px;
   
}
input:focus{
    border-style: none;
    outline-width: 0;
    border: 1px solid #ff7676;
}
input:focus{
    i{
        display: none;
    }
}

.btn{
    border: 2px solid black;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    border: none;
    color: white;
    font-weight: bold;
    width: 88%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 12px;
}

.btn:hover{
    background-color: rgba(255, 0, 0, 0.653);
}
.small-content{
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.621);
    font-weight: bold;
}
.small-content a{
    color: rgb(255, 0, 0);
    padding-left: 5px;
    font-weight: bold;
    text-decoration: none;
}
