div {
    text-align: center;
    margin-top: 50px;
  }
  h1 {
    font-size: 35px;
  }
  p {
    font-size: 18px;
    line-height: 1.6;
  }
  a {
    font-size: 20px;
    color: rgb(92, 92, 92);
    text-decoration: none;
  }