<div class="container">
        <div class="container-2">
        <img src="../../../assets/one.jpg" class="one">
        <img src="../../../assets/two.jpg" class="two">
        <img src="../../../assets/five.jpg" class="three">
        <img src="../../../assets/four.jpg" class="four">
        <h1 class="title">Seamless Reservation for <p class="title1">Food Enthusiasts</p></h1>
   
        <button (click)="onBtnClick()"
        class="bg-grey-500/100  p-2 rounded border-solid border-2 border-white-400 hover:bg-slate-50 hover:text-neutral-800 transition duration-0 hover:duration-150">LOGIN</button>
        <p class="or">or</p>
        <p class="login-manager">Login as a <a  [routerLink]="['/manager-login']">Manager</a></p>
</div>

</div>

